<!DOCTYPE html>
<html>
<head>
    <title>LeafGuardAI</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>

<body>

<nav class="navbar">
    <div class="logo">🌿 LeafGuardAI</div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/detect">Detect</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

{% block content %}
{% endblock %}

<footer>
    <p>© 2026 LeafGuardAI | Smart Agriculture</p>
</footer>

<script src="/static/script.js"></script>

</body>
</html>